<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Guitarist-Toolbox Public API</title>
  </head>

  <body>
    <h1>Welcome to Guitarist Public API</h1>
    <p>This is just a placeholder while I am making a more visualy appealing home/API documentation page.
    Currently the API documentation is only hosted at the Github Repo.</p>
    <a href="https://github.com/moisesjsanchez/Guitarist-Toolbox">Here is documentation</a>
    <p>Enjoy the service!</p>
  </body>
</html>
